.pagination {
  text-align: center;
   
  li {
    list-style-type: none;
    display: inline-block;
    margin: 0.2em;
    padding:0.5em;
    text-decoration:none; 
  

  
    
    a {
      color: black;
      text-decoration: none;
    }

    a:visited, a:link {
      text-decoration: none; 
    }
  }
    
    
  

  .active {
    background: gray;
  border-radius: 5px;
  
  a {
    color: white;
    
  }

  
      
  }
}



// pagination-controls ::ng-deep .ngx-pagination .current {
//   background: gray;
//   border-radius: 5px;
// }

.comments-container {
  padding: 5px;

  &__id {
    margin: 5px 0;
    font-weight: bold;
  }

  &__body {
    margin-bottom: 20px;
  }

  hr {
    width: 85%;
    margin: auto;
  }
}
