.menu-container {
  // width: 100vw;
  // align-items: center;
  display: flex;
  // flex: 1;
  justify-content: center;
  // border: 1px dotted grey;

  a {
    width: 70px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 2rem;
    background-color: black;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease 0s;
    cursor: pointer;
    outline: none;
    // width: 100px;
  }
  a:hover {
    font-size: 1.2rem;
    background-color: grey;
    box-shadow: 0px 15px 20px rgba(128, 128, 128, 0.5);
    color: #fff;
    transform: translateY(-3px);
  }

  a:focus {
    background-color: grey;
    transform: translateY(0px);
  }
}
