.users-container {
  margin: 10px;
}

.user-block {
  display: flex;
  // flex: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  margin: 15px 0 15px 0;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);

  &__image > img {
    flex: 1;
    // border: 1px dotted grey;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.5);
    margin: 10px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 9;
    // border: 1px dotted grey;
    margin: 10px;
    :nth-child(-n + 2) {
      font-weight: bold;
      font-size: 1.5rem;
    }

    a {
      color: white;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 10rem;
      margin-top: 5px;
      background-color: black;
      border-radius: 5px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
      transition: all 0.1s ease 0s;
      cursor: pointer;
      outline: none;
    }
    a:hover {
      font-size: 1.1rem;
      background-color: grey;
      box-shadow: 0px 15px 20px rgba(128, 128, 128, 0.5);
      color: #fff;
      transform: translateY(-2px);
    }

    a:focus {
      background-color: grey;
    }
  }
}

// .user-block__info-button {
//   display: block;
//   // border: 1px solid black;
//   border-radius: 50px;
//   background-color: black;
//   color: white;
//   text-decoration: none;
//   text-align: center;
// }
